body {
  margin: auto;
  max-width: 600px;
  background-image: url("../images/text_cleanup.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
  height: fit-content;
}

nav {
  color: white;
  font-size: 18px;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.menu {
  height: 50px;
}

header,
article {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  color: #7c73fc;
  font-size: 48px;
}

article {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  color: #ecebff;
  font-size: 32px;
  margin-top: -40px;
}

.text {
  height: fit-content;
  font-size: 18px;
  text-align: center;
  color: #c9c9d4;
}

.line {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 500px;
}

.line-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.titles {
  color: #938fff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 16px;
}

.skills {
  color: #f5f5ff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 18px;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 30px;
}

.link {
  height:30px;
}
