body{
  max-width: max-content;
  margin: auto;
  width: 600px;
  background-color:#191765;
 
  
}

nav{
  color: white;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.menu{
    height: 50px;
}

header, article {
    color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text{
    font-size: 14px;
   text-align: center;
color: white;
    }


.line{
    
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 550px;
}

.line-1{
    
display: block;
margin-left: auto;
margin-right: auto;
width: 550px;
}

.titles{
color: white;
    display: flex;
        justify-content: space-around;
        flex-direction: row;

}

.skills{
    color: white;
    display: flex;
        justify-content: space-around;
        flex-direction: row;
}

.contacts{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 30px;
}

.link{
    height:30px;
}

