body{
  
  background-color:#A2A3AE;
}

nav{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}

header, article, .text{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.line{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 650px;
}

.skills{
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

.contacts{
    display: flex;
        justify-content: centre;
        flex-direction: row;
}